{% extends "::base.html.twig" %}

{% block body %}
<div class="container-fluid">
  <div class="row-fuild" id="contenido">  
    <section class="span12" id="principal">
      {% block contenido %}{% endblock %}
    </section>
  </div>
</div>
{% endblock %}