<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog de Symfony{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/libs/bootstrap.min.css')}}">
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block pageid '' %}" >
        <header>
            {% block header %}{% endblock %}
        </header>
            {% block body %}{% endblock %}
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {% block javascripts %}
            <script src="{{ asset('assets/js/libs/jquery.min.js')}}"></script>

            <script src="{{ asset('assets/js/libs/bootstrap.min.js')}}"></script>
        {% endblock %}
        
    </body>
</html>
