{% extends "MiblogBundle::layout.html.twig" %}

{% block contenido %}
{% block filter %}
    {% if filter is defined %}
    <div class="alert fade in">
    <button class="close" data-dismiss="alert" href="#">×</button>
    <span>Estas viendo las entradas por &quot;{{filter}}&quot;. Para ver el listado completo <a href="{{ path('web_main')}}">pulsa aquí</a></span>
    </div>    
    {% endif %}
{% endblock %}

{% for a in result %}
    {% include 'MiblogBundle:Articles:showArticleBlock.html.twig' %}
{% else %}
    <div class="alert alert-error">
        <span>No hay artículos para esa consulta</span>
    </div> 
{% endfor %}
{% endblock %}