{% extends "MiblogBundle::layout.html.twig" %}


{% block contenido %}

{% include 'MiblogBundle:Articles:showArticleBlock.html.twig' %}

{% block comments %}
<hr />
<a name="comments"></a>
{% for c in a.comments %}
    <p>De: {{ c.user.username }}</p>
    <div class="alert alert-info">
        <p>{{c.message}}</p>
    </div>
{% else %}
    <div class="alert fade in">
    <button class="close" data-dismiss="alert" type="button" href="#">×</button>
    <span>¡No hay comentarios! S&eacute; el primero en escribir uno</span>
    </div>   
{% endfor %}
<hr />
{% block formcomentario %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <button class="btn">Comenta</button>
      <!-- mientras -->
      <textarea></textarea>
    {% else %}
      Para dejar un comentario debes <a href="{{ path('fos_user_registration_register') }}">registrarte</a>.
    {% endif %}
{% endblock %}
{% endblock %}

{% endblock %}
